@model HumanResources.Core.Entities.Wallet

@{
    ViewData["Title"] = "CreateBalance";
    Layout = "~/Views/Shared/_CompanyManagerLayout.cshtml";
}

<h4>Bakiye Yükle</h4>
<hr />

<form asp-area="CompanyManager" asp-controller="Wallet" asp-action="CreateBalance" class="row g-3" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Balance" class="form-label">Bakiye</label>
        <input asp-for="Balance" type="text" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Bakiyeyi Yükle" class="btn btn-success" onclick="confirmAction()" />
    </div>
</form>


@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        function confirmAction() {
            let confirmAction = confirm("Bakiyeyi yüklemek istediğinizden emin misiniz?");
            if (confirmAction) {
                alert("Bakiye Yüklendi!");
            } else {
                alert("İşlem İptal Edildi!");
            }
        }
    </script>